body{
  color: #555;
  font-family: Quicksand;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
}
/*
welcome text*/
h1,
h2 {
  margin: 30px 0 20px 0;
  padding: 30px 10px;
}

/*question-title*/
h2 {
  display: none;
}

/*click the start button*/
h3 {
  margin-bottom: 0;
  margin-top: 80px;
}

code {
  font-size: 17px;
}

button {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.col-md-10 {
  float: none !important;
  margin: 0 auto;
  padding: 0 !important;
}

.col-md-4 {
  display: none;
  border-left: 5px solid #555;
  background: #ECF2F8;
  margin: 15px 0.5% 0 0.5% !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 49%;
}

.col-md-4:hover {
  background: #D9E6F1;
  border-left: 5px solid #337AB7;
}

.answers {
  cursor: pointer;
  font-size: 15px;
  margin: 0;
  padding: 30px 10px !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.answers:hover {
  color: #2E6DA4;
}

.popup {
  display: none;
  height: 300px;
  font-size: 17px;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  padding: 17px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 500px;
  z-index: 99999;
}

#start,
#play {
/*  background-color: #3385ff;*/
  font-size: 24px;
  margin: 30px 0;
  padding: 10px 30px;
}

#results {
  font-size: 20px;
  float: right;
  margin: 30px 0;
}

#overlay {
  background: rgba(0,0,0,0.7);
  background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
  background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%); 
  display: none;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 999;
}

@media screen and (min-width: 240px) and (max-width: 768px) {
  h1,
  h2 {
    font-size: 20px;
  }

  code {
    font-size: 15px;
  }

  .col-sm-12,
  .col-xs-12 {
    margin: 15px 0 0 0 !important;
    width: 100%;
  }

  .popup {
    height: 150px;
    font-size: 17px;
    left: 50%;
    margin-left: -150px;
    margin-top: -75px;
    width: 300px;
  }